.content {
  display: grid;
  grid-gap: 20px;
  margin: 0 20px;
  grid-template-columns: repeat(auto-fit, minmax(17%, auto));
}

.productInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;
  gap: 10px;
}

.productInfo :first-child {
  font-size: 16px;
  color: #a3a3a3;
  font-weight: 500;
}

.productInfo :last-child {
  font-weight: bold;
}

@media screen and (max-width: 420px) {
  .content {
    display: list-item;
  }
}
