.content {
  display: grid;
  grid-gap: 20px;
  margin: 0 20px;
  grid-template-columns: repeat(auto-fit, minmax(15%, auto));
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  width: 90%;
}

.productInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;
  gap: 10px;
}

.productInfo :first-child {
  font-size: 16px;
  color: #a3a3a3;
  font-weight: 500;
}

.productInfo :last-child {
  font-weight: bold;
}

.imgBanner {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 800px;
  min-height: 305px;
  width: 100%;
  height: 300px;
  margin-top: 30px;
}

.bannerText {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #d9dbff52;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.bannerText :first-child {
  font-size: 16px;
  font-weight: bold;
  line-height: 2;
}

.tabButton {
  cursor: pointer;
  padding: 10px 20px;
  background: #c3cbf7;

  margin: 20px 0;
  border-radius: 12px;
  text-align: center;

  position: sticky;
  top: 75px;
  z-index: 22;
}

.tabButton:hover {
  /* background: red; */
}

.tabBox {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

.activeTab {
  background: red;
}

@media screen and (max-width: 420px) {
  .content {
    display: list-item;
  }
}
